# Ignore IDE files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# Ignore macOS system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Ignore Python environment files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
ENV.bak/
venv.bak/